.homepage{
    padding: 0.4rem;
    height: calc(100vh - 6.5rem); /* Pega a altura do vh e faz menos a altura do header */
    overflow-y: scroll; /* faz com que o scroll funcione somente dentro do homepage 
    (player e hader ficam fixos) */
}

.homepage h2{
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.latestEpisodes ul{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;

}

.latestEpisodes li{

    background: var(--white);
    border: 1px solid var(--gray-100);
    padding: 1.25rem;
    border-radius: 1.5rem;
    position: relative;

    display: flex;
    align-items: center;

}

.latestEpisodes img{

    width: 6rem;
    height: 6rem;
    border-radius: 1rem;
}

.latestEpisodes li .episodeDetails {

    flex: 1;
    margin-left: 1rem;

}

.episodeDetails a{

    display: block;
    color: var(--gray-800);
    font-family: Lexend, sans-serif;
    font-weight: 600;
    text-decoration: none;
    line-height: 1.4rem;

}

.episodeDetails a:hover{
    text-decoration: underline;
}

.episodeDetails p{
    font-size: 0.875rem;
    margin-top: 0.5rem;
    max-width: 70%;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}

.episodeDetails span{
    display: inline-block;
    margin-top: 0.5rem;
    font-size: 0.85rem;
}

.episodeDetails span:last-child{
    margin-left: 0.5rem;
    padding-left: 0.5rem;
    position: relative;
}

.episodeDetails span:last-child::before{
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background: #DDD;
    position: absolute;
    left:0;
    top: 50%;
    transform: translate(-50%, -50%);
}

.playEpisode{
    position: absolute;
    right: 2rem;
    bottom: 2rem;

    width:2.5rem;
    height:2.5rem;
    background: var(--white);
    border: 1px solid var(--gray-100);
    border-radius: 0.675rem;
    font-size: 0;

    transition: filter 0.4s;

}

.playEpisode:hover{
   filter: brightness(0.9);
 
}

.playEpisode img{
    width: 1.5rem;
    height: 1.5rem;
}

.allEpisodes{
    padding-bottom: 2rem;
}

.allEpisodes table{
    width:100%;
}

.allEpisodes table th{
    padding: 0.75rem 1rem;
    border-bottom: 1px solid var(--gray-100);
    color: var(--gray-200);
    text-transform: uppercase;
    font: 500 0.75rem Lexend, sans-serif;
    text-align: left;
}

.allEpisodes table td{
    padding: 0.75rem 1rem;
    border-bottom: 1px solid var(--gray-100);
}

.allEpisodes table td{
    font-size: 0.875rem;
}

.allEpisodes table td img{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
}

.allEpisodes table td a{
    color: var(--gray-800);
    font-family: Lexend, sans-serif;
    font-weight: 600;
    text-decoration: none;
    line-height: 1.4rem;
    font-size:1rem;

}

.allEpisodes table td a:hover{
    text-decoration: underline;
}

.allEpisodes table button{
    width:2rem;
    height:2rem;
    background: var(--white);
    border: 1px solid var(--gray-100);
    border-radius: 0.5rem;
    font-size: 0;

    transition: filter 0.4s;

}

.allEpisodes table button:hover{
   filter: brightness(0.9);
 
}

.allEpisodes table button img{
    width: 1.25rem;
    height: 1.25rem;
}